## don't import(parallel), to avoid in-package name conflicts

import(methods)

importFrom(parallel, detectCores, makeCluster, mccollect,
           mcparallel, mc.reset.stream, nextRNGStream, parLapply,
           splitIndices, stopCluster)

importFrom(foreach, "%dopar%", foreach, getDoParName,
    getDoParRegistered, getDoParWorkers)

importFrom(tools, SIGTERM)

exportClass(BiocParallelParam, MulticoreParam, SnowParam,
            DoparParam, SerialParam)

export(MulticoreParam, SnowParam, DoparParam, SerialParam,
    bplapply, bpvec, bpvectorize,
    ## bp-controls
    bpworkers, bpbackend, "bpbackend<-",
    bpstart, bpstop, bpisup,
    ## schedule
    bpschedule,
    ## register
    register, registered)

exportMethods(show)
